.header
  display: flex
  justify-content: space-between
  align-items: center
  background-color: $background2
  border-bottom: 1px solid #e0e0e0
  font-size: $header-text-size
  padding: 1vh
  height: $header-height

.logo-header
  display: flex
  flex-direction: row
  gap: 0.5vw
  height: 100%
  font-size: $header-text-size

%background0-hover:hover
  background-color: $background0

%active-scale:active
  transform: scale(0.9)

.spawn-button
  @extend .button
  @extend %background0-hover
  width: 3rem

.spawn-button:hover
  background-color: $background0

.menu-button
  @extend .button
  @extend %background0-hover
  @extend %active-scale
  border: none

.navigation-button
  @extend .button
  @extend %background0-hover
  @extend %active-scale
  width: 3rem
  border: none

.navigation-container
  display: inline-flex
  height: 100%
  border: 1px solid #d1d5db
  overflow: hidden
  margin-left: 1vw
  border-radius: 6px
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05)

.navigation-container:first-child
  border-top-left-radius: 6px
  border-bottom-left-radius: 6px

.navigation-container:last-child
  border-top-right-radius: 6px
  border-bottom-right-radius: 6px

.proof-actions-header
  display: flex
  flex-direction: row
  height: 100%
  gap: 1vw
  font-size: $error-text-size

@media only screen and (max-width: 1200px)
  .logo-header > h1
    width: 0
    overflow: hidden

.logo-header > h1
  font-size: $header-text-size
  display: flex
  flex-direction: row
  justify-content: center

.logo-header > img
  height: $header-text-size

.icon-text
  display: flex
  flex-direction: row
  justify-content: center
  gap: 0.5vw

.bin
  @extend .button
  width: max(6vw,3rem)
  cursor: help
