.sidebar
  background-color: $background1
  border-right: 1px solid #e0e0e0
  z-index: 110
  height: calc(100dvh - #{$header-height})
  overflow-x: hidden
  overflow-x: auto
  scrollbar-width: none


.sidebar-content
  box-sizing: border-box
  display: flex
  flex-direction: column
  width: $sidebar-width-desktop

  padding: 2vh 0 2vh 0
  gap: 2vh

  font-family: inherit
  font-size: $sidebar-heading-text-size
  border-right: 1px solid #e0e0e0


.sidebar-closed
  width: 0
  transition: width 0.2s ease-in-out


.sidebar-open
  width: $sidebar-width-desktop
  transition: width 0.2s ease-in-out


@media only screen and (max-width: 1200px)
  .sidebar
    position: absolute


  .sidebar-open
    width: $sidebar-width-mobile


  .sidebar-content
    width: $sidebar-width-mobile



.sidebar-element
  background-color: $background2
  color: $sidebar-text-color
  border: 1px solid #dadce0
  border-radius: 8px
  margin: 0px 16px
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.03)


details > summary
  list-style: none
  cursor: pointer
  user-select: none


details > summary > .summary-arrow
  transition: 0.3s


::details-content
  transition: height 0.5s ease, content-visibility 0.5s ease allow-discrete
  height: 0
  overflow: clip


[open]::details-content
  height: auto


// allow-keywords if supported, this makes <details> animated. Not supported in firefox and safari!
@supports (interpolate-size: allow-keywords)
  root
    interpolate-size: allow-keywords



details[open] > summary > .summary-arrow
  transform: rotate(180deg)


details > summary::-webkit-details-marker
  display: none


ul
  list-style-position: inside


.sidebar-header
  font-family: inherit
  font-size: $sidebar-heading-text-size
  font-weight: 500
  display: flex
  justify-content: space-between
  align-items: center
  padding: 0.5vh 0.5vw


.row-sidebar-content
  width: 100%
  padding: 0.5vh 0.5vw
  gap: 0.5vh
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: center
  font-size: $sidebar-content-text-size


.column-sidebar-content
  display: flex
  flex-direction: column
  width: 100%
  padding: 0.5vh 0.5vw
  gap: 0.5vh
  font-size: $sidebar-content-text-size


.symbol-button
  width: 2em


.example-container
  display: flex
  justify-content: center


.example-button
  width: 100%
  display: flex !important
  justify-self: left


.math-content
  font-family: $font-math
