.draggable {
  cursor: move;
  /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -webkit-grab;
}

.to-foreground {
  z-index: 100;
}

.line-no {
  grid-column: 1;
}

.formula-rule-container {
  display: grid;
  border-left: 2px solid black;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
  grid-column: 2/4;
}

.formula-input {
  border: none;
  /* width: 100%; */
  padding: 0;
}

.formula-container {
  grid-column: 1;
  pointer-events: all;
}

.rule-input {
  border: none;
  /* width: 100%; */
  padding: 0;
}

.rule-container {
  grid-column: 2;
  pointer-events: all;
}

.error {
  grid-column: 4;
  z-index: 10;
}

.error code {
  display: none;
  position: relative;
  justify-content: center;
}

/* TODO better styling */
.error:hover code {
  display: inline-flex;
  position: absolute;
  top: 90%;
  font-size: 6px;
  border: 1px solid;
  width: fit-content;
  padding: 3px;
  white-space: pre;
  background: #fff;
  color: #000;
}

.no-pointer-events {
  pointer-events: none;
}

.proof-line {
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
  /* grid-row: attr(data-line-no); */
  /* grid-row: span 1; */
  grid-column: span 4;
  position: relative;
  max-width: 15rem;
  height: 1.3rem;
  box-sizing: border-box;
}

.line-container {
  display: grid;
  grid-template-columns: subgrid;
}

.can-hover:hover {
  transform: translateX(2px);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.12);
}

.bin {
  height: 2rem;
  width: 10rem;
  background-color: aquamarine;
}

.spawn-button {
  max-width: 10rem;
  background-color: orange;
}

.upper-hover-zone {
  position: absolute;
  height: 50%;
  width: 100%;
  /* move to foreground */
  z-index: 101;
}

.lower-hover-zone {
  position: absolute;
  top: 50%;
  height: 50%;
  width: 100%;
  /* move to foreground */
  z-index: 101;
}

.insert-before {
  border-top: 3px solid red;
  box-sizing: border-box;
}

.insert-after {
  border-bottom: 3px solid red;
  box-sizing: border-box;
}

.outer-subproof {
  display: grid;
  grid-template-rows: repeat(attr(data-lines), 1fr);
  grid-template-columns: 2rem 8rem 4rem 16px;
}

/* .subproof .formula-container {
  border-left: 3px solid black;
  margin-left: 5px;
} */

/* TODO invisible div behind subproof! */

.subproof {
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
  grid-row: span attr(data-lines);
  grid-column: span 4;
  position: relative;
  box-sizing: border-box;
  /* border-left: 3px solid black; */
  margin-left: 5px;
  /* margin-top: 5px; */
}

.subproof:not(:has(.subproof:hover, .proof-line:hover)):hover {
  border-left: 5px solid black;
  transition: .1s linear;
  cursor: move;
  /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -webkit-grab;
  /* transform: translateY(-1px); */
  /* box-shadow: 0 6px 14px rgba(0, 0, 0, 0.12); */
}

/* TODO: last assumption should have border-bottom, first assumption should have margin-top */

.last-assumption {
  border-bottom: 3px solid black;
}

.parse-success {
  color: green;
}

.parse-fail {
  color: red;
}